rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow create: if request.auth != null && request.auth.uid == userId;
      allow read, write: if request.auth != null && (request.auth.uid == userId || userId == 'ash');
      
      allow create: if request.resource.data.keys().hasAll(['name', 'email', 'createdAt', 'provider']) &&
                      request.resource.data.name is string &&
                      request.resource.data.email is string &&
                      request.resource.data.provider is string;
      
      match /texts/{document=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId || userId == 'ash';
      }
      
      match /quicknotes/{document=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId || userId == 'ash';
      }
      
      match /media/{document=**} {
        allow read, write: if request.auth != null || request.auth == null;
      }
    }
    
    match /media/{document=**} {
      allow read, write: if request.auth != null || request.auth == null;
    }
  }
}